.users {
  font-size: 10px;
}

.users .users-item {
  border: 1px solid lightgrey;
  margin: 10px;
  padding: 10px;
  border-radius: 2px;
  background: rgb(210, 225, 237);
}

.users .descr {
  font-size: 8px;
  color: slategrey;
}
